<div
  class="min-h-screen p-6 bg-gradient-to-tr from-blue-800 to-purple-700 flex items-center justify-center"
>
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Crear Productos</p>
            <p class="my-2">Para crear un producto debes completar los
              siguientes campos.</p>
          </div>
          <form id="register" class="lg:col-span-2">
            <div class="md:col-span-3">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="Xiaomi"
              />
            </div>
            <div class="md:col-span-2">
              <label for="descripcion">Descripcion</label>
              <input
                type="text"
                name="descripcion"
                id="descripcion"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="Note 11 128GB 6GB RAM"
              />
            </div>
            <div class="md:col-span-2">
              <label for="precio">Precio</label>
              <input
                type="number"
                name="precio"
                id="precio"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="59999"
              />
            </div>
            <div class="md:col-span-5">
              <label for="imagen">Imagen</label>
              <input
                type="url"
                name="imagen"
                id="imagen"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="https://example.com"
                pattern="https://.*"
              />
            </div>
            <div class="md:col-span-5">
              <label for="codigo">Codigo</label>
              <input
                type="text"
                name="codigo"
                id="codigo"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="10001"
              />
            </div>
            <div class="md:col-span-5">
              <label for="stock">Stock</label>
              <input
                type="number"
                name="stock"
                id="stock"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="5"
              />
            </div>
            <div class="md:col-span-5 text-right">
              <div class="items-end">
                <button
                  class="bg-indigo-600 p-4 rounded-2xl text-white font-semibold mt-6 m-3"
                  type="submit"
                >Crear Producto</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Editar Producto</p>
            <p class="my-2">Para editar un producto tienes que completar el
              campo que deseas modificar.</p>
          </div>
          <form id="editarProducto" class="lg:col-span-2">
            <div class="md:col-span-3">
              <label for="nombre">Nombre</label>
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="Xiaomi"
              />
            </div>
            <div class="md:col-span-2">
              <label for="descripcion">Descripcion</label>
              <input
                type="text"
                name="descripcion"
                id="descripcion"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="Note 11 128GB 6GB RAM"
              />
            </div>
            <div class="md:col-span-2">
              <label for="precio">Precio</label>
              <input
                type="number"
                name="precio"
                id="precio"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="59999"
              />
            </div>
            <div class="md:col-span-5">
              <label for="imagen">Imagen</label>
              <input
                type="url"
                name="imagen"
                id="imagen"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="https://example.com"
                pattern="https://.*"
              />
            </div>
            <div class="md:col-span-5">
              <label for="codigo">Codigo</label>
              <input
                type="text"
                name="codigo"
                id="codigo"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="10001"
              />
            </div>
            <div class="md:col-span-5">
              <label for="stock">Stock</label>
              <input
                type="number"
                name="stock"
                id="stock"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="5"
              />
            </div>
            <div class="md:col-span-5 text-right">
              <div class="items-end">
                <button
                  class="bg-indigo-600 p-4 rounded-2xl text-white font-semibold mt-6 m-3"
                  type="submit"
                >Editar Producto</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Eliminar Producto</p>
            <p class="my-2">Para eliminar un producto debes colocar su numero de
              identificación.</p>
          </div>
          <form id="eliminarProducto" class="lg:col-span-2">
            <div class="md:col-span-3">
              <label for="productDeleteID">ID Producto</label>
              <input
                type="number"
                name="productDeleteID"
                id="productDeleteID"
                class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                value=""
                placeholder="642ece4f62a6a514eea2e240"
              />
            </div>
            <div class="md:col-span-5 text-right">
              <div class="items-end">
                <button
                  class="bg-indigo-600 p-4 rounded-2xl text-white font-semibold mt-6 m-3"
                  type="submit"
                >Eliminar Producto</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>